<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">EDITION</span>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">JAVASCRIPT</a></li>
			<li><a href="#">RUBY</a></li>
		</ul>
	</li>
	<li>
		<ul class="help">
			<span class="dropdown-subtitle">HELP</span>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>
