<section class="masthead">
  <nav class="language-nav">
    <ul>
      <li>
        <a href="#">CSS</a>
      </li>
      <li>
        <a href="#">HTML</a>
      </li>
      <li>
        <a href="#">Javascript</a>
      </li>
      <li>
        <a href="#">Ruby</a>
      </li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" class="logo" alt="aatimes">

  <ul class="masthead-links">
    <li>
      <time>Tuesday, October 18, 2016</time>
    </li>
    <li>
      <i class="fa fa-newspaper-o"></i>
      <a href="#">Today’s Paper</a>
    </li>
    <li>
      <i class="fa fa-video-camera"></i>
      <a href="#">Video</a>
    </li>
    <li>
      <time>77°</time>
    </li>
    <li>
      FAAO <strong>+100%</strong>
    </li>
  </ul>
</section>
